## Neural network working

in this lab i will try to implement the neural network i have learned in this course

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("Solarize_Light2")

import tensorflow as tf
import logging
logging.getLogger("tensorflow").setLevel(logging.ERROR)
tf.autograph.set_verbosity(0)

In [8]:
coffee_df = pd.read_csv('coffe_df.csv')

In [12]:
coffee_df = coffee_df.drop("Unnamed: 0" ,axis = 1)

In [13]:
coffee_df

              0          1    y
0    185.317638  12.693965  1.0
1    259.920475  11.867664  0.0
2    231.013571  14.414242  0.0
3    175.366645  11.720587  0.0
4    187.120865  14.129732  1.0
..          ...        ...  ...
195  223.781833  15.299167  0.0
196  266.627673  12.480510  0.0
197  273.683982  13.097562  0.0
198  220.610006  12.799891  1.0
199  284.994342  12.728294  0.0

[200 rows x 3 columns]

In [14]:
y = coffee_df.y

In [23]:
x = coffee_df[["0",'1']]

In [24]:
x = x.to_numpy()